---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Blog">
  <main>
    <h1>Blog</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet facilis
      dolore debitis consectetur perferendis, iure architecto amet ea enim fugit
      sed sequi alias natus doloribus inventore. Libero sapiente modi enim!
    </p>

    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
  </main>
</Layout>
