---
interface Props {
  title: string;
}

const { title } = Astro.props;

const primaryColor = "pruple";
const secondaryColor = "green";
const thirdColor = "#ff9776";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style is:global define:vars={{ primaryColor, secondaryColor, thirdColor }}
></style>
